@{
    ViewData["Title"] = "About Me";
}

<h2>About Me</h2>
<hr />

<p>
    I am a Junior → Mid ASP.NET Core Developer. I have experience building
    Management Systems, CRUD systems, and Web Applications using ASP.NET Core MVC, SQL Server, and Entity Framework.
</p>

<p>
    ကျွန်တော်က ASP.NET Core Developer တစ်ယောက်ဖြစ်ပြီး
    Student Management System, Clinic System, Sports Management System စတဲ့
    Project တွေကို တည်ဆောက်ဖူးပါတယ်။
</p>

<h4>🎓 Experience</h4>
<ul>
    <li>Internship at D.I.S Technology Co., Ltd</li>
    <li>Worked on MAD Bank Project</li>
    <li>Built many ASP.NET MVC Systems</li>
</ul>
