@{
    ViewData["Title"] = "Contact";
}

<h2>Contact Me</h2>
<hr />

<ul class="list-group">
    <li class="list-group-item">📧 Email: palephyu12345@gmail.com</li>
    <li class="list-group-item">📞 Phone: 09768086091</li>
    <li class="list-group-item">💻 GitHub: https://github.com/palephyu</li>
</ul>
