@{
    ViewData["Title"] = "Home";
}

<section class="hero-section">
    <div class="row align-items-center w-100">

        <!-- LEFT IMAGE -->
        <div class="col-md-6 text-center mb-4 mb-md-0">
            <div class="profile-wrapper mx-auto">
                <img src="~/images/profile.jpg" />
            </div>
        </div>

        <!-- RIGHT CONTENT -->
        <div class="col-md-6">
            <h1 class="display-4 fw-bold hero-title">
                Hey I'm <span>Pale Phyu</span>
            </h1>

            <h2 class="fw-bold mt-3">
                I'm a <span style="color:#9c6b1a;">ASP.NET Developer</span>
            </h2>

            <p class="mt-4">
                I am a Junior → Mid ASP.NET Core Developer.
                ကျွန်မက Professional Web Application တွေကို ASP.NET Core MVC နဲ့ရေးသားတည်ဆောက်နိုင်ပါတယ်။
            </p>

            <!-- SOCIAL ICONS -->
            <div class="social-icons my-4">
                <a href="https://www.facebook.com/">G</a>
                <a href="https://www.facebook.com/">f</a>
                <a href="https://www.facebook.com/">in</a>
                <a href="https://github.com/palephyu">X</a>
            </div>

            <a class="btn btn-gold" href="~/files/CV.pdf">Download CV</a>
        </div>

    </div>
</section>
