@{
    ViewData["Title"] = "Projects";
}

<h2>My Projects</h2>
<hr />

<div class="row">

    <div class="col-md-4">
        <div class="card mb-4 shadow">
            <div class="card-body">
                <h5>Student Management System</h5>
                <p>ASP.NET Core MVC + SQL Server</p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card mb-4 shadow">
            <div class="card-body">
                <h5>Clinic Management System</h5>
                <p>Appointments, EHR, Scheduling</p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card mb-4 shadow">
            <div class="card-body">
                <h5>Sports Management System</h5>
                <p>Role-based filtering, Reports</p>
            </div>
        </div>
    </div>

</div>
