/*html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}*/
body {
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(90deg, #fff4e6, #ffe0b2);
}

.hero-section {
    min-height: 85vh;
    display: flex;
    align-items: center;
}

.profile-wrapper {
    position: relative;
    width: 380px;
    height: 380px;
    border-radius: 50%;
    border: 6px solid #9c6b1a;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

    .profile-wrapper img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

.hero-title span {
    color: #9c6b1a;
}

.social-icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 2px solid #9c6b1a;
    color: #9c6b1a;
    margin-right: 10px;
    text-decoration: none;
    font-weight: bold;
}

    .social-icons a:hover {
        background: #9c6b1a;
        color: white;
    }

.btn-gold {
    background: #9c6b1a;
    color: white;
    padding: 12px 30px;
    border-radius: 8px;
    border: none;
}

    .btn-gold:hover {
        background: #7d5414;
        color: white;
    }
